*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.header{
    background: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    font-size: 100px;
    color: white;
    text-transform: uppercase;
}

.main{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}